# Ignore MLflow runs folder
mlruns/

# Ignore MLflow database file
mlflow.db

# Ignore mlflow_test.py script
mlflow_test.py

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment folders
env/
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
.DS_Store
